.row {
    display: flex;
    column-gap: 2em;
    margin-bottom: 1em;
}

.tableHeader {
    font-family: var(--main-font);
    font-size: 1.5em;
}

.hr {
    width: 100%;
}

.note {
    font-size: 1.2em;
}