.scoresheet {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.playerNameTable {
    border-collapse: collapse;
}

.playerNameTable td {
    border: 1px solid black;
    padding: 0em .25em;
    border-radius: 0px;
    text-align: center;
}

.playerNameTable th {
    padding: 0em .25em;
    border: 1px solid #555555;
    border-bottom: 2px solid #555555;
    background-color: #e4e1e2;
}

.playerRow {
    border-bottom: 1px solid #555555;
    margin: 0px;
}

.dividerRow {
    border-bottom: 2px solid #555555 !important;
}

.lastPlayer, .lastBonus {
    border-right: 2px solid #555555 !important;
}

.bonus, .lastBonus {
    text-align: center;    
    font-size: 1.2em;
}

.tuNumberCell {
    text-align: center;
    background-color: #555555;
    color: white;
}

.tuNumber {
    font-weight: 600;    
    font-size: 1.2em;
}

.buzzPosition {
    font-size: 12px;
}

.buzzNeg {
    color: red;
    font-weight: 600;    
    font-size: 1.2em;
}

.buzzGet {
    color: #555555;
    font-weight: 600;
    font-size: 1.2em;
}

.buzzPower {
    color: blue;
    font-weight: 600;    
    font-size: 1.2em;
}

.buzzZero {
    color: gray;
}

.teamTotal {
    text-align: center;
}

.winningTeamTotal {
    background-color: wheat;
}

.demoTotal td {
    border: 1px solid black;
    padding: .2em .6em;
    border-radius: 0px;
    text-align: center;
}